// @ts-ignore We need to ignore instead of -expect-error because the error only happens when noUnusedParameters compiler option is true
export interface Input<VariableType = unknown> {
  value: string;
}

return = 1 as VariableType;
