// @ts-expect-error 'VariableType' is declared but its value is never read. (It is only used to set the type of the return)
export interface Input<VariableType = unknown> {
  value: string;
}

return = 1 as VariableType;
