<props/{ show, count: initialCount, onCount, onCleanup }/>
<if=show>
  <let/count=initialCount/>

  <button onClick=(() => count++)>increment</button>

  <effect=(() => {
    onCount(count);
    return onCleanup;
  })/>
</if>
